export DB_VERSION=8.0
export DB_HOST=localhost
export DB_PORT=3080
# Will replace xxx_development to xxx_test in test environment.
export DB_NAME=osushi_development
export DB_USER=osushi
export DB_PASS=osushi

# Google analytics.
export NEXT_PUBLIC_TRACKING_CODE=
