export URL=http://localhost:3000

export DB_VERSION=8.0
export DB_HOST=localhost
export DB_PORT=3080
# Will replace xxx_development to xxx_test in test environment.
export DB_NAME=ohutils_development
export DB_USER=ohutils
export DB_PASS=ohutils

export GOOGLE_CLIENT_ID=
export GOOGLE_CLIENT_SECRET=

# Google analytics.
export TRACKING_CODE=
